<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>logIdentifier</key>
      <defaultValue>codion_server</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${logIdentifier}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/world-server/${logIdentifier}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
          <fileNamePattern>${user.home}/logs/world-server/${logIdentifier}.%i.log.zip</fileNamePattern>
          <minIndex>1</minIndex>
          <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
          <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
      </appender>
<!--      <appender name="STDOUT-${logIdentifier}" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--      </appender>-->
    </sift>
  </appender>

  <logger name="org.eclipse.jetty" level="ERROR"/>

  <root level="DEBUG">
    <appender-ref ref="SIFT" />
  </root>
</configuration>
